<% @page_title = "New Page" %>

<%= link_to("<< Back to List", pages_path, :class => 'back_link') %>

<div class="pages new">
  <H2>Create Page</H2>

  <%= form_for(@page, :url => pages_path, :method => 'post') do |f| %>

      <%= render(:partial => 'form', :locals => {:f => f}) %>

      <div class="form-buttons">
        <%= f.submit("Create Page") %>
      </div>

  <% end %>

</div>
